<div style ="background-color: cornflowerblue;">
    <h1 style="border: 2px solid lightblue;">Cenovnik pojedinačnih slika</h1>
</div>
<table class="table" style="border: 2px solid lightblue;">
    <thead>
        <tr>
            <th scope="col">Dimenzije</th>
            <th scope="col">Tanje platno,<br /> Blind ram 2cm</th>
            <th scope="col">Tanje platno,<br /> Blind ram 3,5cm</th>
            <th scope="col">Deblje platno,<br /> Blind ram 2cm</th>
            <th scope="col">Deblje platno,<br /> Blind ram 3,5cm</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20 x 30</td>
            <td>653 RSD</td>
            <td>1033 RSD</td>
            <td>776 RSD</td>
            <td>1188 RSD</td>
        </tr>
        <tr>
            <td>20 x 40</td>
            <td>803 RSD</td>
            <td>1254 RSD</td>
            <td>958 RSD</td>
            <td>1446 RSD</td>
        </tr>
        <tr>
            <td>30 x 30</td>
            <td>832 RSD</td>
            <td>1293 RSD</td>
            <td>998 RSD</td>
            <td>1486 RSD</td>
        </tr>
        <tr>
            <td>30 x 45</td>
            <td>1100 RSD</td>
            <td>1657 RSD</td>
            <td>1331 RSD</td>
            <td>1993 RSD</td>
        </tr>
        <tr>
            <td>30 x 60</td>
            <td>1366 RSD</td>
            <td>2032 RSD</td>
            <td>1664 RSD</td>
            <td>2380 RSD</td>
        </tr>
        <tr>
            <td>40 x 40</td>
            <td>1217 RSD</td>
            <td>1887 RSD</td>
            <td>1482 RSD</td>
            <td>2112 RSD</td>
        </tr>
        <tr>
            <td>40 x 60</td>
            <td>1630 RSD</td>
            <td>2367 RSD</td>
            <td>2006 RSD</td>
            <td>2798 RSD</td>
        <tr>
            <td>40 x 70</td>
            <td>1831 RSD</td>
            <td>2645 RSD</td>
            <td>2268 RSD</td>
            <td>3136 RSD</td>
        </tr>
        </tr>
    </tbody>
</table>

<strong>Cena štampe slika zavisi od formata i veličine. Standardni formati štampe: Ukoliko želite da štampate slike nekih drugih dimenzija možete nam se obratiti i mi ćemo Vam izneti cenu.</strong>
