@model IEnumerable<Picture>

<div style="background-color: cornflowerblue;">
    <h1 style="border: 2px solid lightblue;">Admin Panel - Slike</h1>
</div>



<table class="table" style="border: 2px solid lightblue;">
    <thead>
        <tr>
            <th>Naziv</th>
            <th>Cena</th>
            <th>Akcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var picture in Model)
        {
            <tr>
                <td>@picture.Name</td>
                <td>@picture.Price</td>
                <td>
                    <a asp-action="Update" asp-route-id="@picture.Id">Izmeni</a> |
                    <a asp-action="Delete" asp-route-id="@picture.Id">Obriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div></div>
<a asp-action="Insert" class="btn btn-primary">Dodaj novu sliku</a>