@{
    // Postavi kulturu na srpski
    System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("sr-RS");
    System.Threading.Thread.CurrentThread.CurrentCulture = culture;
    System.Threading.Thread.CurrentThread.CurrentUICulture = culture;
}
<p>Use this page to detail your site's privacy policy.</p>
